* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: whitesmoke;
}

.logoHead {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    /* border: 1px solid black; */
}

.logoIcon {
    font-size: 1.5rem;
    color: orangered;
}

.displayHeader {
    height: 10%;
    width: 50%;
    padding: 10px;
}

.displayBody {
    height: 100%;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #585858;
    border-radius: 5px;
}

#profileForm {
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#firstName, #lastName, #email, #currentPassword, #password, #confirmPassword {
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
}

.formDivs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#registerBtn {
    border: none;
    height: 2.5rem;
    background-color: orangered;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
}

#registerLoginBtn {
    height: 2.5rem;
    border: 1px solid orangered;
    border-radius: 5px;
    color: orangered;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

#registerLoginBtn:hover {
    background-color: orangered;
    color: white;
}

.footerText {
    padding-left: 10px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: rgb(177, 176, 176);
}

.registerLogin {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
}